<div class="columns">
  <div class="column">
    <img
      src="{{ [car.photoOfCarDocument] }}"
      alt="car"
      height="300"
      width="300"
    />
  </div>
  <div class="column">
    <span class="background-bisque">isReserved : {{[car.isInUse] }}</span>
    <p>Type : {{ [car.carType] }}</p>
    <p>LicensePlate : {{ [car.licenseplate] }}</p>
    <p>Start Date : {{ car.startDate | slice :0:10 }}</p>
    <p>Pickup Location : {{ [car.pickupLocation.x] }},{{ [car.pickupLocation.y] }}</p>
    <br />
  </div>
  <div class="column">
    <span id="model">Model : {{ [car.carModel] }}</span>
    <br /><br /><br />
    <p>End Date : {{car.endDate | slice :0:10 }}</p>
    <br /><br />
    <div class="columns">
      <div class="column" id="reservation">
        <button class="column" id="reservation" (click)="openform('reservation_history')">
          Reservation
        </button>
      </div>
      <div class="column" id="remove">
        <button (click)="openform('remove_deal_popup')">Remove</button>
      </div>
    </div>
  </div>
</div>

<!-- remove_deal_modal -->
<div class="modal modal-fx-fadeInScale" id="remove_deal_popup">
  <div class="modal-background"></div>
  <div class="modal-content modal-card" id="remove_deal_popup_content">
    <header class="modal-card-head">
      <p class="modal-card-title">Remove</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closeform('remove_deal_popup')"
      ></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p
        style="
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          font-size: larger;
        "
      >
        Each remove car, you will not be
      </p>
      <p
        style="
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          font-size: larger;
        "
      >
        able to recovery them.
      </p>
      <br />
      <div class="columns">
        <div class="column">
          <button
            style="
              width: 100px;
              padding: 10px 10px 10px 10px;
              margin-left: 220px;
            "
            class="button is-rounded"
            id="b1"
            (click)="removeDeal()"
          >
            Yes
          </button>
        </div>
        <div class="column">
          <button
            style="width: 100px; padding: 10px 10px 10px 10px;"
            class="button is-rounded"
            id="pinkbutton"
            (click)="closeform('remove_deal_popup')"
          >
            No
          </button>
        </div>
      </div>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>


<!-- reservation modal -->
<div class="modal modal-fx-fadeInScale" id="reservation_history">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Reservations History</p>
        <button
          class="delete"
          aria-label="close"
          (click)="closeform('reservation_history')"
        ></button>
      </header>
      <section class="modal-card-body reservation">
        <!-- reservation box -->
        <div class="reservationbox" *ngFor="let reservation of reservations">
          <div class="columns">
            <div class="column is-2">
              <img src="{{ reservation.image }}" alt="bosskung" />
            </div>
            <div class="column is-three-fifths">
              <span>{{ reservation.name }}</span>
              <br />
              <b>Type:</b> {{ reservation.type }}
              <br />
              <b>Pickup Date:</b> {{ reservation.pickup_date }}
              <br />
              <b>Return Date:</b> {{ reservation.return_date }}
            </div>
            <div class="column is-5">
              <span>{{ reservation.reserve_time }}</span>
              <br />
              <b>Model:</b> {{ reservation.model }}
              <br />
              <b>Location:</b> {{ reservation.pickup_location }}
              <br />
              <b>Return Location:</b> {{ reservation.return_location }}
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot"></footer>
    </div>
  </div>