<div class="card-before">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <img
          src="{{ [car.photoOfCarDocument] }}"
          alt="car"
        />
      </div>
      <div class="column">
        <span class="background-bisque"><strong>Status : </strong> {{ isReserve }}</span>
        <p><strong>Type :</strong>  {{ [car.carType] }}</p>
        <p><strong>LicensePlate :</strong>  {{ [car.licenseplate] }}</p>
        <p><strong>Start Date :</strong>  {{ car.startDate | slice: 0:10 }}</p>
        <p><strong>End Date :</strong>  {{ car.endDate | slice: 0:10 }}</p>
        <p><strong>Pickup Location :</strong> 
           {{ [car.pickupLocation.x] }},{{
            [car.pickupLocation.y]
          }}
        </p>
        <p><strong>Price per Day :</strong>  {{ car.price }}</p>
        <br />
      </div>
      <div class="column">
        <span id="model">Model : {{ [car.carModel] }}</span>
        <br /><br /><br />
        <br /><br />
        <div class="columns">
          <div class="column" id="reservation">
            <button
              class="button is-primary is-rounded"
              id="reservation"
              (click)="openform('reservation_history')"
            >
              Reservation
            </button>
          </div>
          <div class="column" id="remove">
            <button class="button is-danger is-rounded"(click)="openform('remove_deal_popup')">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- remove_deal_modal -->
<div class="modal modal-fx-fadeInScale" id="remove_deal_popup">
  <div class="modal-background"></div>
  <div class="modal-content modal-card" id="remove_deal_popup_content">
    <header class="modal-card-head">
      <p class="modal-card-title">Remove</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closeform('remove_deal_popup')"
      ></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p
        style="
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          font-size: larger;
        "
      >
        Each remove car, you will not be
      </p>
      <p
        style="
          text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
          font-size: larger;
        "
      >
        able to recovery them.
      </p>
      <br />
      <div class="columns">
        <div class="column">
          <button
            style="
              width: 100px;
              padding: 10px 10px 10px 10px;
              margin-left: 220px;
            "
            class="button is-danger is-rounded"
            id="b1"
            (click)="removeDeal()"
          >
            Yes
          </button>
        </div>
        <div class="column">
          <button
            style="width: 100px; padding: 10px 10px 10px 10px;"
            class="button is-rounded"
            id="pinkbutton"
            (click)="closeform('remove_deal_popup')"
          >
            No
          </button>
        </div>
      </div>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>

<!-- reservation modal -->
<div class="modal modal-fx-fadeInScale" id="reservation_history">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Reservations History</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closeform('reservation_history')"
      ></button>
    </header>
    <section class="modal-card-body reservation">
      <!-- reservation box -->
      <div *ngIf="hasHistory">
        <div class="reservationbox" *ngFor="let reservation of reservations">
          <h1><strong> Lessee : </strong> {{ reservation.lessee.name }}</h1>
          <div class="columns">
            <div class="column is-three-fifths">
              <b>Type :</b> {{ car.carType }}
              <br />
              <b>Pickup Date:</b> {{ reservation.pickupDate | slice: 0:10 }}
              <br />
              <b>Return Date:</b> {{ reservation.returnDate | slice: 0:10 }}
            </div>
            <div class="column is-5">
              <b>Model :</b> {{ car.carModel }}
              <br />
              <b>Location:</b> {{ [car.pickupLocation.x] }},{{
                [car.pickupLocation.y]
              }}
              <br />
              <b>Return Location:</b> {{ reservation.returnLocation.x }},{{
                reservation.returnLocation.y
              }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!hasHistory">
        <app-notfound
          message="no reservation history of this car"
        ></app-notfound>
      </div>
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>
