<div class="card-before">
  <div class="card-content">
    <div class="columns">
      <div class="column is-two-fifths" id="eiei">
        <img src={{car.photoOfCarDocument}} />
      </div>
      <div class="column" id="detail">
        <span class="tag is-link is-light is-medium" style="margin-bottom: 5px;">{{ carStatus }}</span>
        <p>Type : {{ car.carType }}</p>
        <p>Model : {{ car.carModel }}</p>
        <p>Capacity {{car.capacity}}</p>
        <p>License : {{ car.licenseplate}}</p>
        <br><br><br>
        <div class="buttons">
          <button
            class="button is-rounded is-info"
            (click)="showPopup('review')"
          >
            Review
          </button>
          <button
            class="button is-rounded is-danger"
            (click)="showPopup('popupremove')"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-fx-fadeInScale" id="popupremove">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <section class="modal-card-body" style="border-radius: 20px;">
      <p style="text-align: center; font-weight: bolder; font-size: larger;">Each remove car, you will not be</p>
      <p style="text-align: center; font-weight: bolder; font-size: larger;">able to recovery them.</p>
      <br />
      <div class="buttons" style="justify-content: center;">
        <button
          class="button is-rounded is-danger"
          (click)="removeCar()"
        >
          Remove
        </button>
        <button
          class="button is-rounded"
          (click)="deletePopup('popupremove')"
        >
          cancel
        </button>
      </div>
    </section>
  </div>
</div>

<div class="modal modal-fx-fadeInScale" id="review">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><strong>Review</strong></p>
      <button class="delete" aria-label="close" (click)="deletePopup('review')"></button>
    </header>
    <section class="modal-card-body" style="min-height: 500px;">
      <div *ngIf="hasReview">
        <div *ngFor="let review of reviews">
          <app-review [review]="review"></app-review>
        </div>
      </div>
      <div *ngIf="!hasReview">
        <app-notfound message="No comment or review in this car"></app-notfound>
      </div>
        
    </section>
  </div>
</div>
