
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img
              src={{image1}}
              alt="car" height="300" width="300">
          </div>
          <div class="column">
            <p><mark class="status">&emsp;Available&emsp;</mark></p>
            <p>Type: Sport</p>
            <p>Model: BMW Z3</p>
            <p>License Plate: 12-3456</p>
            <p>Car description: Air conditioning</p>
            <p>Automatic Transmission</p>
            <br>
            <p> 4 Seats | 4 Doors | 1 Baggage</p><br>
            <div class="columns">
              <div class="column">
              </div>
              <div class="column">
                <button class="button is-rounded" (click)="review_popup()">Review</button>
              </div>
              <div class="column">
                <button class="button is-rounded" (click)="popupremove()">Remove</button>
              </div>
            </div>
          </div>
          <div class="column">
          </div>
        </div>
      </div>
      <app-review-popup [reviews]="reviews"></app-review-popup>
      <div class="modal" id="popupremove">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Remove</p>
            <button class="delete" aria-label="close" (click)="del_popupremove()"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <p>Each remove car, you will not be</p>
            <p>able to recovery them.</p>
            <button class="button is-rounded">Yes</button>
            <button class="button is-rounded">No</button>
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
      </div>
    </section>
