
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img
              src={{image1}}
              alt="car" height="300" width="300">
          </div>
          <div class="column">
            <p><mark class="status">&emsp;Available&emsp;</mark></p>
            <p>Type: Sport</p>
            <p>Model: BMW Z3</p>
            <p>License Plate: 12-3456</p>
            <p>Car description: Air conditioning</p>
            <p>Automatic Transmission</p>
            <br>
            <p> 4 Seats | 4 Doors | 1 Baggage</p><br>
            <div class="columns">
              <div class="column">
              </div>
              <div class="column">
                <button class="button is-rounded" (click)="review_popup()">Review</button>
              </div>
              <div class="column">
                <button class="button is-rounded">Remove</button>
              </div>
            </div>
          </div>
          <div class="column">
          </div>
        </div>
      </div>
      <app-review-popup></app-review-popup>
    </section>
