#form{
    background-color: #e7e7e7 ; 
    padding: 20px;
}

.btn-default1 {
    background-color:rebeccapurple;
    color: whitesmoke;
    font-size:16px;
    font-weight: 600;
    width : 130px;
    margin: 8px;
}
.btn-default2 {
    background-color: pink;
    color: slateblue;
    font-size:16px;
    font-weight: 600;
    width : 130px;
    margin: 8px;
}

#confirm {
    padding: 20px;
}

#profile{
    /* border-radius: 90%; */
    width: 200px;
    display: block;
}