<app-navbar></app-navbar>
<div class="container">
  <div class="container is-fluid">
    <button class="button" (click)="toggleFilter()"><i class="fas fa-filter"></i>Filter</button>
    <div class="filters" id="state-show">
      <form class="is-flex" action="">
        <fieldset>
          <label class="fil" id="f" for="">Filter 1</label>
          <input class="input input-0" type="text">
        </fieldset> 
        <fieldset>
          <label class="fil" id="f" for="">Filter 2</label>
          <input class="input input-0" type="text">
        </fieldset>
        <fieldset>
          <label class="fil" id="f" for="">Filter 3</label>
          <input class="input input-0" type="text">
        </fieldset>
        <fieldset>
          <label class="fil" id="f" for="">Filter 4</label>
          <input class="input input-0" type="text">
        </fieldset>
      </form>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-one-quarter" *ngFor="let car of mock_car">
      <app-homepage-car></app-homepage-car>
    </div>
  </div>
</div>
