<app-navbar></app-navbar>
<div class="container">
  <button class="button" (click)="toggleFilter()">
    <i class="fas fa-filter"></i>Filter
  </button>
  <form #form action="/" method="GET">
    <div class="filters is-flex" id="state-show">
      <fieldset>
        <label class="fil" id="f" for="">Car type</label>
        <input class="input input-0" type="text" name='type'/>
      </fieldset>
      <fieldset>
        <label class="fil" id="f" for="">Car Model</label>
        <input class="input input-0" type="text" name='model'/>
      </fieldset>
      <fieldset>
        <label class="fil" id="f" for="">Car capacity</label>
        <input class="input input-0" type="text" name='capacity'/>
      </fieldset>
      <fieldset>
        <label class="fil" id="f" for="">Location</label>
        <input class="input input-0" type="text" name='location'/>
      </fieldset>
      <fieldset>
        <label class="fil" id="f" for="">Start Date</label>
        <input class="input input-0" type="text" name='startDate'/>
      </fieldset>
      <fieldset>
        <label class="fil" id="f" for="">End Date</label>
        <input class="input input-0" type="text" name='endDate'/>
      </fieldset>
      <fieldset>
        <button class="button" type="submit" (click)="form.submit()">Search</button>
      </fieldset>
    </div>
  </form>
  <div class="columns is-multiline">
    <div class="column is-one-quarter" *ngFor="let car of cars">
      <app-homepage-car [car]="car"></app-homepage-car>
    </div>
  </div>
</div>

<footer>
<app-app-footer></app-app-footer>
</footer>
