.fil{
    font-size: 0px;
    font-weight: 600;
    transition: 0.5s;
}
.fill{
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
}

/* show  */
fieldset{
    margin-left: 2%;
    margin-right: 2%;
}
.input.input-1{
    display: block;
    height:40px;
    transition: height 0.5s;
}

/* not show  */
.button.button-0{
    display: none;
    height: 0px;
    transition: height 0.5s ;
    margin-top :24px;
}
.button.button-1{
    display: block;
    height:40px;
    transition: height 0.5s;
    margin-top :24px;
}

/* not show  */
.input.input-0{
    display: none;
    height: 0px;
    transition: height 0.5s ;
}


.button{
    margin-top : 2.5%;
    
}
.dropdown{
    margin-top : 2.45%;
    margin-right: 2.5%;

}
.filters{
    margin-top: 2%;
}