
/* .label{
    height: 0px;
}  */

.fil{
    font-size: 0px;
    transition: 0.5s;
}
.fill{
    font-size: 30px;
    transition: 0.5s;
}
.input.input-1{
    height:40px;
    transition: height 0.5s;
}

.input.input-0{
    height: 0px;
    transition: height 1s , display 1s;
}