<app-navbar></app-navbar>
<div class="container" style="min-height: 1300px;">
  <h1 style="font-size: xx-large; font-weight: bolder; margin-bottom: 20px;">
    My reservation
  </h1>
  <div class="tabs is-large is-boxed">
    <ul>
      <li class="is-active" (click)="tab('all')" id="all"><a>All</a></li>
      <li (click)="tab('PENDING')" id="PENDING"><a>Pending</a></li>
      <li (click)="tab('RESERVED')" id="RESERVED"><a>Reserved</a></li>
      <li (click)="tab('PICKED')" id="PICKED"><a>Picked</a></li>
      <li (click)="tab('RETURNED')" id="RETURNED"><a>Returned</a></li>
      <li (click)="tab('CANCELED')" id="CANCELED"><a>Canceled</a></li>
    </ul>
  </div>
  <div *ngIf="hasCar">
    <div class="columns is-multiline">
      <div class="column is-narrow" *ngFor="let car of carReservation">
        <app-myreservation-car [car]="car"></app-myreservation-car>
      </div>
    </div>
  </div>
  <div *ngIf="!hasCar">
    <app-notfound
      message="No status {{ currentTab }} of your reservation"
    ></app-notfound>
  </div>
</div>

<footer>
  <app-app-footer></app-app-footer>
</footer>
