.card{
    margin: 10px;
    padding: 20px;
    border: 2px groove indigo;
    
    box-shadow: 5px 5px 20px grey;
}
#status {
    background-color: burlywood;
}
a {
    color: white;
}
#detail{
    padding: 20px;;
}

.buttons{
    margin: 10px;
}
