.card{
    margin: 5%;
    box-shadow: none
}
.card-content{
    padding: 0px;
}

.card-footer{
    border-top : 0px solid;
    justify-content: space-between;
}

img{
    border-radius: 5px;
}
img:hover{
    cursor: pointer;
}
