.navbar {
    background-color: pink
}
img #logo{
    width :"150" ;
    height :"50" ;
}
.navbar-item img {
    max-height: 2.75rem;
}

#mouse:hover{
    background-color:pink;
    
}

span:hover{
    color : hotpink
}
span{
    text-decoration:brown;
    font-weight: 600;
    color:black;
}