<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/homepage">
      <img id ="logo"
        src="../../assets/images/Rentsee - logo.png"
      />
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/homepage/reservation" id="mouse"><span>My Reservation</span></a>
      <a class="navbar-item" href="/homepage/listofcars" id="mouse"><span>My Deal</span></a>
      <a class="navbar-item" href="/homepage/mycar" id="mouse"><span>My Car</span></a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="/versions/0.5.3/documentation/overview/start/">
          <img src="../../assets/images/profile-user.png" alt="">
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a class="navbar-item " href="/homepage/profile">My profile</a>
          <hr class="navbar-divider" />
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">Sign out</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
