<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/homepage">
      <img
        src="../../assets/images/Rentsee - logo.png"
        width="112"
        height="28"
      />
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="">My Reservation</a>
      <a class="navbar-item" href="">My Deal</a>
      <a class="navbar-item" href="">My Car</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a
          class="navbar-link  is-active"
          href="/versions/0.5.3/documentation/overview/start/"
        >
          <img src="../../assets/images/profile-user.png" alt="">
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a
            class="navbar-item "
            href="/homepage/profile"
          >
            My profile
          </a>
          <hr class="navbar-divider" />
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">Sign out</strong>
              </p>

             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
