<!-- <div *ngIf=""></div> -->
<ng-template [ngIf]="display_pending" #pending>
  <div class="card-before" id="reserving">
    <div class="card-content">
      <div class="columns">
        <div class="column is-two-fifths" id="eiei">
          <img src="../../assets/images/car-homepage.jpg" />
        </div>
        <div class="column" id="detail">
          <span class="tag is-light" style="margin-bottom: 10px;">{{
            car.status
          }}</span>
          <p>Model : {{ car.carModel }}</p>
          <p>License : {{ car.licensePlate }}</p>
          <p>Pickup Date : {{ car.pickupDate }}</p>
          <p>Pickup Location : {{ car.relatedCarAvailable.pickupLocation.x }}</p>
          <p>Return Date : {{ car.returnDate }}</p>
          <p>Return Location : {{ car.ReturnLocation }}</p>

          <div class="buttons">
            <button
              class="button is-rounded is-danger"
              (click)="openPopup('cancel_popup')"
            >
              Cancel
            </button>
            <button
              class="button is-rounded is-info"
              (click)="openPopup('agreement_popup')"
            >
              Agreement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="display_reserve" #reserving>
  <div class="card-before" id="reserving">
    <div class="card-content">
      <div class="columns">
        <div class="column is-two-fifths" id="eiei">
          <img src="../../assets/images/car-homepage.jpg" />
        </div>
        <div class="column" id="detail">
          <span class="tag is-link is-light" style="margin-bottom: 10px;">{{
            car.status
          }}</span>
          <button class="button is-rounded" (click)="pickup_return()" id="pickup">{{state_button}}</button>
          <p>Model : {{ car.carModel }}</p>
          <p>License : {{ car.licensePlate }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Pickup Location : {{ car.PickupLocation }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Return Location : {{ car.ReturnLocation }}</p>

          <div class="buttons">
            <button
              class="button is-rounded is-danger"
              (click)="openPopup('cancel_popup')"
            >
              Cancel
            </button>
            <button
              class="button is-rounded is-info"
              (click)="openPopup('agreement_popup')"
            >
              Agreement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="display_cancel" #cancelled>
  <div class="card-before" id="cancelled">
    <div class="card-content">
      <div class="columns">
        <div class="column is-two-fifths" id="eiei">
          <img src="../../assets/images/car-homepage.jpg" />
        </div>
        <div class="column" id="detail">
          <span class="tag is-link is-light" style="margin-bottom: 10px;">{{
            car.status
          }}</span>
          <button class="button is-rounded" id="pickup" style="display: none;">Pickup</button>
          <p>Model : {{ car.carModel }}</p>
          <p>License : {{ car.licensePlate }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Pickup Location : {{ car.PickupLocation }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Return Location : {{ car.ReturnLocation }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="display_return" #returned>
  <div class="card-before" id="returned">
    <div class="card-content">
      <div class="columns">
        <div class="column is-two-fifths" id="eiei">
          <img src="../../assets/images/car-homepage.jpg" />
        </div>
        <div class="column" id="detail">
          <span class="tag is-link is-light" style="margin-bottom: 10px;">{{
            car.status
          }}</span>
          <button class="button is-rounded" id="pickup" style="display: none;">Pickup</button>
          <p>Model : {{ car.carModel }}</p>
          <p>License : {{ car.licensePlate }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Pickup Location : {{ car.PickupLocation }}</p>
          <p>Pickup Date : {{ car.PickupDate }}</p>
          <p>Return Location : {{ car.ReturnLocation }}</p>

          <div class="buttons">
            <button
              class="button is-rounded is-info"
              (click)="openPopup('agreement_popup')"
            >
              Agreement
            </button>
            <button
              class="button is-rounded is-dark"
              (click)="openPopup('review_popup')"
            >
              Review
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-myreservation-popup [car]="car"></app-myreservation-popup>
