<div class="columns">
  <img
    class="column is-three-fifths"
    src="../../assets/images/car-homepage.jpg"
    id = "car-homepage"
  />
  <div class="column" id="form-input">
    <img src="../../assets/images/Rentsee - logo.png" alt="logo">
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Username" formControlName="username"/>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Password" formControlName="password"/>
        </div>
      </div>
      <a [routerLink]="'/homepage'" ><button class="button" type="submit"  id="login">Login</button></a>
    </form>
      <a [routerLink]="'/register'"><button class="button" id="register">Register</button></a>
  </div>
</div> 
