<div class="columns">
  <img
    class="column is-three-fifths"
    src="../../assets/images/car-homepage.jpg"
    id = "car-homepage"
  />
  <div class="column" id="form-input">
    <img src="../../assets/images/Rentsee - logo.png" alt="logo">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Username" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="password" placeholder="Password" />
      </div>
    </div>
      <a href="/login"><button class="button" id="login">Login</button></a>
      <a href="/register"><button class="button" id="register">Register</button></a>
  </div>
</div>
