<app-navbar></app-navbar>

<div class="about-section">
  <h1>About Us</h1>
  <p style="color: darkslategray;">Pick Happy, Pick Rentsee</p>
  <p style="color: slategrey;">
    A platform for those who love sharing and trip
  </p>
</div>


<h1 style="text-align: center;">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/images/tiger.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Tanakorn Pisnupoomi</h2>
        <p class="title">Backend Developer</p>
        <p>Formers inten at Wongnai</p>
        <p>Chulalongkorn University Demonstration Secondary School</p>
        <p>intaniger@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../assets/images/bosskung_2.jpg"
        alt="Wut"
        style="width: 100%;"
      />
      <div class="container">
        <h2>Thadchet Kittichotikul</h2>
        <p class="title">Frontend Developer</p>
        <p>Formers intern at Banir</p>
        <p>High school: Debsirin School</p>
        <p>boss_cuteboy@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/za.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Zongpol Jongkirkkiat</h2>
        <p class="title">Frontend Developer</p>
        <p>Formers intern at Agoda</p>
        <p>High school: Taweethapisek School</p>
        <p>zongpol_jkk@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/images/wut_2.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Wutipong Thabsuwan</h2>
        <p class="title">Database Analyst</p>
        <p>Formers intern at Ava</p>
        <p>High school: Debsirin School</p>
        <p>tiger_wut@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/film.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Papon Chaisrisukumporn</h2>
        <p class="title">Software Tester</p>
        <p>Formers intern at Ava</p>
        <p>High school: Debsirin School</p>
        <p>tiger_wut@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../assets/images/boom_2.jpg"
        alt="Wut"
        style="width: 100%;"
      />
      <div class="container">
        <h2>Kasidid Pakulanon (Mr.Boom)</h2>
        <p class="title">CEO</p>
        <p>Formers intern at Ava</p>
        <p>High school: Debsirin School</p>
        <p>tiger_wut@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/images/park.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Wutipong Thabsuwan</h2>
        <p class="title">Security Guard</p>
        <p>Formers intern at Ava</p>
        <p>High school: Debsirin School</p>
        <p>tiger_wut@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/too.jpg" alt="Wut" style="width: 100%;" />
      <div class="container">
        <h2>Wutipong Thabsuwan</h2>
        <p class="title">Security Guard</p>
        <p>Formers intern at Ava</p>
        <p>High school: Debsirin School</p>
        <p>tiger_wut@rentsee.com</p>
        <p class="contact"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <app-app-footer></app-app-footer>
</footer>
