<app-navbar></app-navbar>
<div class="container" style="min-height: 1300px;">
  <h1 style="font-size: xx-large; font-weight: bolder; margin-bottom: 20px;">
    My Car
  </h1>
  <button class="button" (click)="popupadd()">Add car</button>
  <div class="tabs is-boxed is-medium is-centered">
    <ul>
      <li class="is-active" (click)="tab('all')" id="all">
        <a>
          <span>All</span>
        </a>
      </li>
      <li (click)="tab('available')" id="available">
        <a>
          <span>Available</span>
        </a>
      </li>
      <li (click)="tab('reserve')" id="reserve">
        <a>
          <span>Reserve</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="columns is-multiline">
    <ng-template [ngIf]="hasCar">
       <div class="column is-narrow" *ngFor="let car of cars">
      <app-car [car]="car"></app-car>
    </div>
    </ng-template>
    <ng-template [ngIf]="noCar">
      <div>
        <br><br>
        <h1 style="margin-left: 3em; font-size: larger; ">No car</h1>
      </div>
    </ng-template>
  </div>
</div>

<app-addcarform></app-addcarform>
<footer>
  <app-app-footer></app-app-footer>
</footer>
