<app-navbar></app-navbar>
<div class="container" style="min-height: 1300px;">
  <div class="is-flex">
    <h1 style="font-size: xx-large; font-weight: bolder; margin-bottom: 20px;">
      My Car
    </h1>
    <button class="button" (click)="popupadd()">Add car</button>
  </div>
  <div class="tabs is-boxed is-medium is-centered">
    <ul>
      <li class="is-active" (click)="tab('all')" id="all">
        <a>
          <span>All</span>
        </a>
      </li>
      <li (click)="tab('available')" id="available">
        <a>
          <span>Available</span>
        </a>
      </li>
      <li (click)="tab('reserve')" id="reserve">
        <a>
          <span>Reserve</span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="hasCar">
    <div class="columns is-multiline">
      <div class="column is-narrow" *ngFor="let car of cars">
        <app-car [car]="car"></app-car>
      </div>
    </div>
  </div>
  <div *ngIf="!hasCar">
    <app-notfound message="Your car were did't reserved by someone"></app-notfound>
  </div>
  <app-addcarform></app-addcarform>
</div>
<footer>
  <app-app-footer></app-app-footer>
</footer>
