#cancel_popup .modal-card-body {
  border-radius: 30px;
  padding: 50px;
}

h1 {
  font-size: 170%;
  font-weight: 700;

}

#cancel_popup .field.is-grouped {
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

#review_popup .field.is-grouped {
  justify-content: center;
  margin: 10px; 
  padding: 10px;
}

#groupstar {
  text-align-last: center;
}


/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

/* set default star color */ 
.rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked~.rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover~.rating__label .rating__icon--star {
  color: #ddd;
}



.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.modal .modal-background {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.modal.is-active {
  visibility: visible;
}

.modal.is-active .modal-background {
  opacity: 1;
}



.modal.modal-fx-3dFlipVertical.modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.modal.modal-fx-3dFlipVertical .modal-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.modal.modal-fx-3dFlipVertical.is-active .modal-content {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}


