#cancel_popup .modal-card-body {
  border-radius: 30px;
  padding: 50px;
}

h1 {
  font-size: 170%;
  font-weight: 700;
}

#cancel_popup .field.is-grouped {
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

#review_popup .field.is-grouped {
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.modal .modal-background {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.modal.is-active {
  visibility: visible;
}

.modal.is-active .modal-background {
  opacity: 1;
}

.modal.modal-fx-3dFlipVertical.modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.modal.modal-fx-3dFlipVertical .modal-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.modal.modal-fx-3dFlipVertical.is-active .modal-content {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.ratingItemList {
  max-width: 300px;
  margin:auto;
  display:flex;
  justify-content: space-between;
  padding: 1em 0;
}
