<div class="modal modal-fx-3dFlipVertical" id="review_popup">
  <div class="modal-background"></div>
  <div class="modal-content modal-card" style="border-radius: 20px;">
    <section class="modal-card-body">
      <h1 class="has-text-centered">Review</h1>
      <form class="rating-wrapper"action="" style="text-align: center;">
        <div class="raingItemList">
          <label class="rating rating-1"for="rating-1-2" (click)="rating(1)">
            <i class="far fa-frown fa-4x" style="color:goldenrod"></i>
          </label>
          <label class="rating rating-1"for="rating-1-2" (click)="rating(2)">
            <i class="far fa-frown-open fa-4x" style="color:goldenrod"></i>
          </label>
          <label class="rating rating-1"for="rating-1-2" (click)="rating(3)">
            <i class="far fa-meh fa-4x" style="color:goldenrod"></i>
          </label>
          <label class="rating rating-1"for="rating-1-2" (click)="rating(4)">
            <i class="far fa-surprise fa-4x" style="color:goldenrod"></i>
          </label>
          <label class="rating rating-1"for="rating-1-2" (click)="rating(5)">
            <i class="far fa-grin-stars fa-4x" style="color:goldenrod"></i>
          </label>
        </div>
      </form>
      <div class="control" style="margin-top: 20px;">
        <textarea
          class="textarea is-hovered"
          placeholder="write review here"
          [(ngModel)]="comment"
        ></textarea>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-link" (click)="addReview()">
            Yes
          </button>
        </p>
        <p class="control">
          <button class="button" (click)="closePopup('review_popup')">
            No
          </button>
        </p>
      </div>
    </section>
  </div>
</div>

<div class="modal modal-fx-3dFlipVertical" id="cancel_popup">
  <div class="modal-background"></div>
  <div class="model-content modal-card">
    <section class="modal-card-body">
      <h1 class="has-text-centered">Cancel the reservation?</h1>
      <p class="has-text-centered">
        Each cancel reservation, you will not be able to recovery them.
      </p>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-link" (click)="cancelReservation()">
            Yes
          </button>
        </p>
        <p class="control">
          <button class="button" (click)="closePopup('cancel_popup')">
            No
          </button>
        </p>
      </div>
    </section>
  </div>
</div>

<div class="modal modal-fx-3dFlipVertical" id="agreement_popup">
  <div class="modal-background"></div>
  <div class="model-content modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Agreement</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closePopup('agreement_popup')"
      ></button>
    </header>
    <section class="modal-card-body">
      <article class="message is-info">
        <div class="message-body">
          <p><strong>1. THE PARTIES TO THIS AGREEMENT ARE :</strong></p>
          <p><strong>1.1 THE LESSOR</strong></p>
          <p>Name : {{ car.name }}</p>
          <p>Email : {{ car.email }}</p>
          <p>Phone : {{ car.phone_num }}</p>
          <p>Address : {{ car.address }}</p>
          <p><strong>1.2 THE LESSEE</strong></p>
          <p>Name : {{ car.lessee.name }}</p>
          <p>Email : {{ car.lessee.email }}</p>
          <p>Phone : {{ car.lessee.phone_num }}</p>
          <p>Address : {{ car.lessee.address }}</p>
          <!-- <p><strong>2 AGREEMENT FROM LESSOR</strong></p>
          <p>Address : {{car.lessee.address}}</p> -->
        </div>
      </article>
      <div class="is-flex" style="margin-bottom: 5px;">
        <strong
          ><p style="margin-right: 10px; margin-top: 7px;">Lessor :</p></strong
        >
        <p style="margin-right: 10px; margin-top: 7px;">Confirmed</p>
      </div>
      <div class="is-flex" style="margin-bottom: 5px;">
        <strong
          ><p style="margin-right: 10px; margin-top: 7px;">Lessee :</p></strong
        >
        <div *ngIf="display_confirming">
          <button
            class="button is-rounded is-success"
            (click)="confirmAgreement()"
            style="margin-right: 5px;"
          >
            Confirm
          </button>
          <button class="button is-rounded is-danger">Reject</button>
        </div>
        <div *ngIf="display_confirmed">
          <p style="margin-right: 10px; margin-top: 7px;">Confirmed</p>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>

<div class="modal modal-fx-fadeInScale" id="popupPickup">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <section class="modal-card-body" style="border-radius: 20px;">
      <p style="text-align: center; font-weight: bolder; font-size: larger;">
        Make sure you already picked car from lessor
      </p>
      <p style="text-align: center; font-weight: bolder; font-size: larger;">
        you can't return when press submit.
      </p>
      <br />
      <div class="buttons" style="justify-content: center;">
        <button class="button is-rounded is-danger" (click)="pickupCar()">
          Yes
        </button>
        <button class="button is-rounded" (click)="closePopup('popupPickup')">
          No
        </button>
      </div>
    </section>
  </div>
</div>

<div class="modal modal-fx-fadeInScale" id="popupReturn">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <section class="modal-card-body" style="border-radius: 20px;">
      <p style="text-align: center; font-weight: bolder; font-size: larger;">
        Make sure you already returned car to lessor
      </p>
      <p style="text-align: center; font-weight: bolder; font-size: larger;">
        you can't return when press submit.
      </p>
      <br />
      <div class="buttons" style="justify-content: center;">
        <button class="button is-rounded is-danger" (click)="returnCar()">
          Yes
        </button>
        <button class="button is-rounded" (click)="closePopup('popupReturn')">
          No
        </button>
      </div>
    </section>
  </div>
</div>
