<div class="modal modal-fx-fadeInScale" id="popupadd">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <section class="modal-card-body">
      <div [formGroup]="addcarForm">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Car Model</label>
              <div id="cartype" class="dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="input"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    style="width: 160px; height: 42px;"
                    (click)="toggleDropdown('cartype')"
                  >
                    <span>{{ valueCarmodel}}</span>
                  </button>
                </div>
                <div
                  class="dropdown-menu"
                  id="dropdown-menu"
                  role="menu"
                  style="max-height: 500px; overflow: auto; width: 300px;"
                >
                  <div class="dropdown-content">
                    <a class="dropdown-item" (click)="addcarModel('BMW')">
                      BMW
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Buick')">
                      Buick
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Chevrolet')">
                      Chevrolet
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Honda')">
                      Honda
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Dodge')">
                      Dodge
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Mazda')">
                      Mazda
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Mitsubishi')">
                      Mitsubishi
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('GMC')">
                      GMC
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Land Rover')">
                      Land Rover
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Ford')">
                      Ford
                    </a>
                    <a
                      class="dropdown-item"
                      (click)="addcarModel('Aston Martin')"
                    >
                      Aston Martin
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Volkswagen')">
                      Volkswagen
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Maserati')">
                      Maserati
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Pontiac')">
                      Pontiac
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Porsche')">
                      Porsche
                    </a>
                    <a
                      class="dropdown-item"
                      (click)="addcarModel('Mercedes-Benz')"
                    >
                      Mercedes-Benz
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Geo')">
                      Geo
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Saturn')">
                      Saturn
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Lincoln')">
                      Lincoln
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Acura')">
                      Acura
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Nissan')">
                      Nissan
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Oldsmobile')">
                      Oldsmobile
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Toyota')">
                      Toyota
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Audi')">
                      Audi
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Kia')">
                      Kia
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Hyundai')">
                      Hyundai
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Bugatti')">
                      Bugatti
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Volvo')">
                      Volvo
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Mercury')">
                      Mercury
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Infiniti')">
                      Infiniti
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Saab')">
                      Saab
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Studebaker')">
                      Studebaker
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Subaru')">
                      Subaru
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Chrysler')">
                      Chrysler
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Lexus')">
                      Lexus
                    </a>
                    <a class="dropdown-item" (click)="addcarModel('Ferrari')">
                      Ferrari
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Car Type</label>
              <div id="carmodel" class="dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="input"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    style="width: 160px; height: 42px;"
                    (click)="toggleDropdown('carmodel')"
                  >
                    <span>{{ valueCartype }}</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" (click)="addcarType('personal')">
                      personal
                    </a>
                    <a class="dropdown-item" (click)="addcarType('transport')">
                      transport
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Capacity</label>
              <div id="capacity" class="dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="input"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    style="width: 160px; height: 42px;"
                    (click)="toggleDropdown('capacity')"
                  >
                    <span>{{ valueCapacity }}</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" (click)="addCapacity(2)">
                      2
                    </a>
                    <a class="dropdown-item" (click)="addCapacity(3)">
                      3
                    </a>
                    <a class="dropdown-item" (click)="addCapacity(4)">
                      4
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">License Plate</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Car's License plate"
              formControlName="licenseplate"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Photo of Car</label>
          <div class="control">
            <input
              (change)="upload($event)"
              class="input"
              type="file"
              placeholder="Car Document"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Car's description"
              formControlName="carDescription"
            ></textarea>
          </div>
        </div>
        <div id="submit-form" class="has-text-centered">
          <button class="button is-rounded" type="submit" (click)="addCar()">
            Submit
          </button>
          <button
            class="button is-rounded"
            type="submit"
            (click)="closePopup()"
          >
            Cancel
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
