<app-navbar></app-navbar>

<!-- Add Available car -->
<button id="Add_deal_button" (click)="functionTwo()">Add Deal</button>
<!-- modal -->
<div class="modal modal-fx-fadeInScale" id="form">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Deal</p>
      <button class="delete" aria-label="close" (click)="closeform()"></button>
    </header>
    <section class="modal-card-body reservation">
      <!-- User input Modal -->
        <!-- first column of user input -->
        <form [formGroup] = "addDealForm">
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <div class="control">
                <label for="types">Start Date: </label>
                <input type="date" id="start_dates" formControlname="start_dates" (click)="startDateChange()">
              </div>
            </div>
            <br>
          <div class="field">
            <div class="control">
              <label for="types">Pickup Location: </label>
              <input type="text" id="pickup_location" formControlname="pickup_location" (click)="pickupLocationChange()">
            </div>
          </div>
      </div>

          <!-- second column of user input-->
          <div class="column is-6">
            <div class="field">
              <div class="control">
                <label for="types">End Date: </label>
                <input type="date" id="end_dates" formControlname="end_dates" (click)="endDateChange()">
              </div>
            </div>
            <br>
          <div class="field">
            <div class="control">
              <label for="types">Return Location: </label>
              <input type="text" id="return_location" formControlname="return_location" (click)="returnLocationChange()">
            </div>
          </div>
          </div>
        </div>
        </form>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7751.3258
                   54892483!2d100.52568602422691!3d13.738845911423297!2m3!1f0!2f0!
                   3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ed5b0518373%3A0xbf
                   09631895efa243!2sFaculty%20of%20Engineering%2C%20Chulalongkorn%
                   20University!5e0!3m2!1sen!2sth!4v1584534945614!5m2!1sen!2sth"
                   width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" 
                   aria-hidden="false" tabindex="0"></iframe>
      <button (click)="submit_add_deal()">Submit</button>
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>

<!-- Car Boxes -->
<div class="carbox" *ngFor="let car of cars">
  <div class="columns">
    <div class="column">
      <img src="{{ [car.image] }}" alt="car" height="300" width="300" />
    </div>
    <div class="column">
      <span class="background-bisque">{{ [car.Availability] }}</span>
      <p>Type: {{ [car.Type] }}</p>
      <p>LicensePlate: {{ [car.LicensePlate] }}</p>
      <p>Start Date: {{ [car.StartDate] }}</p>
      <p>Pickup Location: {{ [car.PickupLocation] }}</p>
      <p>Return Location: {{ [car.ReturnLocation] }}</p>
      <br />
      <p>{{ [car.Seats] }} Seats | {{ [car.Doors] }} Doors</p>
    </div>
    <div class="column">
      <span id="model">Model: {{ [car.Model] }}</span>
      <br /><br /><br />
      <p>End Date: {{ [car.EndDate] }}</p>
      <br /><br />
      <div class="columns">
        <div class="column" id="reservation">
          <button class="column" id="remove" (click)="functionOne()">
            Reservation
          </button>
        </div>
        <div class="column" id="remove">
          <button>Remove</button>
        </div>
      </div>
    </div>

    <!-- modal -->
    <div class="modal modal-fx-fadeInScale" id="popup">
      <div class="modal-background"></div>
      <div class="modal-content modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Reservations History</p>
          <button
            class="delete"
            aria-label="close"
            (click)="closepopup()"
          ></button>
        </header>
        <section class="modal-card-body reservation">
          <!-- reservation box -->
          <div class="reservationbox" *ngFor="let reservation of reservations">
            <div class="columns">
              <div class="column is-2">
                <img src="{{ reservation.image }}" alt="bosskung" />
              </div>
              <div class="column is-three-fifths">
                <span>{{ reservation.name }}</span>
                <br />
                <b>Type:</b> {{ reservation.type }}
                <br />
                <b>Pickup Date:</b> {{ reservation.pickup_date }}
                <br />
                <b>Return Date:</b> {{ reservation.return_date }}
              </div>
              <div class="column is-5">
                <span>{{ reservation.reserve_time }}</span>
                <br />
                <b>Model:</b> {{ reservation.model }}
                <br />
                <b>Location:</b> {{ reservation.pickup_location }}
                <br />
                <b>Return Location:</b> {{ reservation.return_location }}
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot"></footer>
      </div>
    </div>
  </div>
</div>
