<div>
  <nav class="topnav">
    <a class="navbar-brand" href="/">
      <div class="logo-image">
        <img src="https://www.pikpng.com/pngl/m/5-52183_png-file-svg-profile-icon-white-png-clipart.png">
      </div>
    </a>
    <a class="active" href="#home">Home</a>
    <a href="">My Car</a>
    <a href="">My Deal</a>
    <a href="">My Reservation</a>
  </nav>
  <button class="button is-rounded" onclick="window.location.href = 'https://www.google.com/'"> Add car </button>
  <app-box></app-box>
</div>