<div id="review">
    <div class="columns">
        <div class="column">
            IMAGE
        </div>
        <div class="column" id="rating">
            Rating : {{review.rating}}
            <span id="star1" class="fa fa-star"></span>
            <span id="star2" class="fa fa-star"></span>
            <span id="star3" class="fa fa-star"></span>
            <span id="star4" class="fa fa-star"></span>
            <span id="star5" class="fa fa-star"></span>
        </div>
    </div>
    <div>
        <p>{{review.comment}}
    </div>
    <hr>
</div>

