<app-navbar></app-navbar>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="../../assets/images/boom.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Boom Smith</p>
              <p class="subtitle is-6">@boomsmith</p>
            </div>
          </div>
          <div class="content">
            <p>Status : Single</p>
            <p>Interest : Man</p>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column ">
      <div class="card">
        <div class="card-content">
          <div class="columns" id="bug">
            <div class="column">
              <div class="content" id="about">
                <div>
                    <h1><img src="../../assets/images/about.png" alt="" height="60px" width="40px"> About</h1>
                    <p><span>First name</span> : Boom</p>
                    <p><span>Last name </span>: Smith</p>
                    <p><span>Email</span> : boomlnwza@gmail.com</p>
                    <p><span>Phone number</span> : @boomkp [IG]</p>
                    <p><span>Driving license number</span> : 123456789</p>
                    <p><span>Address</span> : 1428 I-House Chula Bangkok</p>
                </div>
              </div>
            </div>
            <div class="column" id="edit">
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-link">
                    Edit
                  </button>
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="content" id ="payment_info">
            <div>
                <h1><img src="../../assets/images/credit-card-with-tick.png" alt="" height="60px" width="40px"> Payment Info</h1>
                <p><span>Bank account number</span> : xxx-xxx-xxxx</p>
                <p><span>Credit card number</span> : xxxxxxxxxx</p>
                <p><span>Expire</span> : 7/23 </p>
                <p><span>CVV </span>: XXX</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
