<app-navbar></app-navbar>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="../../assets/images/car-rental.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ information.name }}</p>
              <p class="subtitle is-6">@{{ information.username }}</p>
            </div>
          </div>
          <div class="content">
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="columns" id="bug">
            <div class="column">
              <div class="content" id="about">
                <div>
                  <h1>
                    <img
                      src="../../assets/images/about.png"
                      alt=""
                      height="60px"
                      width="40px"
                    />
                    About
                  </h1>

                  <p><span>First name :</span> {{ information.name }}</p>
                  <p><span>Email</span> : {{ information.email }}</p>
                  <p><span>Phone number</span> : {{ information.phone_num }}</p>
                  <p>
                    <span>Driving license number</span> :
                    {{ information.driving_license }}
                  </p>
                  <p><span>Address</span> : {{ information.address }}</p>
                </div>
              </div>
            </div>
            <div class="column" id="edit">
              <div class="field is-grouped">
                <p class="control">
                  <button
                    class="button is-link"
                    (click)="editProfile('editProfile')"
                  >
                    Edit
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="content" id="payment_info">
            <div>
              <h1>
                <img
                  src="../../assets/images/credit-card-with-tick.png"
                  alt=""
                  height="60px"
                  width="40px"
                />
                Payment Info
              </h1>

              <p>
                <span>Bank account number</span> :
                {{ information.bank_account }}
              </p>
              <p>
                <span>Credit card number</span> :
                {{ information.credit_card_number }}
              </p>
              <p><span>Expire</span> : {{ information.credit_card_expiry }}</p>
              <p><span>CVV </span>: {{ information.credit_card_security }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Profile Modal -->
  <div class="modal modal-fx-fadeInScale" id="editProfile">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Profile</p>
        <button
          class="delete"
          aria-label="close"
          (click)="closePopup('editProfile')"
        ></button>
      </header>
      <form [formGroup]="updateProfileForm">
        <section class="modal-card-body" style="height: 600px;">
          <form action="" [formGroup]="updateProfileForm">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="e.g Alex Smith"
                  value="{{ information.name }}"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  placeholder="new password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">confirm Password</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  placeholder="confirm password"
                  [(ngModel)]="confirmpassword"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  id="email"
                  class="input"
                  type="text"
                  placeholder="example@example.com"
                  value="{{ information.email }}"
                  formControlName="email"
                  (input)="onChangeEmail()"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Phone number</label>
              <div class="control">
                <input
                  id="phone"
                  class="input"
                  type="text"
                  placeholder="0833333333"
                  value="{{ information.phone_num }}"
                  formControlName="phone_num"
                  (input)="onChangePhone()"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Driving license number</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="e.g Alex Smith"
                  value="{{ information.driving_license }}"
                  formControlName="driving_license"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Address</label>
              <div class="control">
                <textarea
                  class="textarea"
                  placeholder="Address"
                  formControlName="address"
                  >{{ this.information.address }}</textarea
                >
              </div>
            </div>
            <div class="field">
              <label class="label">Bank account number</label>
              <div class="control">
                <input
                  id="bank_account"
                  class="input"
                  type="text"
                  placeholder="xxxxxxxxxx"
                  value="{{ information.bank_account }}"
                  formControlName="bank_account"
                  (input)="onChangeBank()"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Credit card number</label>
              <div class="control">
                <input
                  id="credit"
                  class="input"
                  type="text"
                  placeholder="xxxx/xxxx/xxxx/xxxx"
                  value="{{ information.credit_card_number }}"
                  formControlName="credit_card_number"
                  (input)="onChangeCredit()"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Expiry</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="mm/yy"
                  value="{{ information.credit_card_expiry }}"
                  formControlName="credit_card_expiry"
                  (input)="onChangeExpiry()"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">CVV</label>
              <div class="control">
                <input
                  id="CVV"
                  class="input"
                  type="text"
                  placeholder="XXX"
                  value="{{ information.credit_card_security }}"
                  formControlName="credit_card_security"
                  (input)="onChangeCVV()"
                />
              </div>
            </div>
          </form>
        </section>
        <footer class="modal-card-foot">
          <button
            class="button is-success"
            (click)="updateProfile()"
            type="submit"
            [disabled]="!updateProfileForm.valid"
          >
            Save changes
          </button>
          <button class="button" (click)="closePopup('editProfile')">
            Cancel
          </button>
        </footer>
      </form>
    </div>
  </div>
</div>
<app-app-footer></app-app-footer>
