<div class="modal" id="review_popup">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Review</p>
      <button
        class="delete"
        aria-label="close"
        (click)="delete_review_popup()"
      ></button>
    </header>
    <section class="modal-card-body">
      <div *ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>

<div class="modal" id="cancel_popup">
  <div class="modal-background"></div>
  <div class="modal-card"> 
    <section class="modal-card-body">
      <h1 class="has-text-centered">Cancel the reservation?</h1>
      <p class="has-text-centered">Each cancel reservation, you will not be able to recovery them.</p>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-link">
            Yes
          </button>
        </p>
        <p class="control">
          <button class="button" (click)=" delete_cancel_popup()">
            No
          </button>
        </p>
      </div>
    </section>
    
  </div>
</div>

<div class="modal" id="agreement_popup">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Review</p>
      <button
        class="delete"
        aria-label="close"
        (click)="delete_agreement_popup()"
      ></button>
    </header>
    <section class="modal-card-body">
      <div *ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>
