<div id="modal-id" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Detail</p>
      <button class="delete" aria-label="close" (click)="closePopup()"></button>
    </header>
    <section class="modal-card-body">
      <div class="card">
        <div class="columns">
          <div class="column is-4">
            <div class="card-image">
              <figure class="image">
                <img
                  src="{{ car_popup.photoOfCarDocument }}"
                  alt="Placeholder image"
                />
                <div class="column" id="rating">
                  <strong>Rating :</strong>
                  <span id="star1" class="fa fa-star"></span>
                  <span id="star2" class="fa fa-star"></span>
                  <span id="star3" class="fa fa-star"></span>
                  <span id="star4" class="fa fa-star"></span>
                  <span id="star5" class="fa fa-star"></span>
                </div>
              </figure>
            </div>
          </div>
          <div class="column" id="detail">
            <div class="columns">
              <p>
                <strong> Lessor : {{ car_popup.ownerName }}</strong>
              </p>
            </div>
            <p><strong>Type : </strong> {{ car_popup.carType }}</p>
            <p><strong>Model : </strong> {{ car_popup.carModel }}</p>
            <div class="columns" id="temp">
              <div class="column">
                <p>
                  <strong>Start Date : </strong
                  >{{ car_popup.startDate | slice: 0:10 }}
                </p>
              </div>
              <div class="column">
                <p>
                  <strong>End Date : </strong
                  >{{ car_popup.endDate | slice: 0:10 }}
                </p>
              </div>
            </div>
            <div class="columns" id="temp">
              <div class="column">
                <p>
                  <strong>Pick up Location : </strong
                  >{{ car_popup.pickupLocation.x }},{{
                    car_popup.pickupLocation.y
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <button class="button is-success is-rounded" (click)="reserveCar()">
          Reserve
        </button>
        <hr />
        <p><strong style="font-size: large;">Car description </strong></p>
        <p>
          {{ car_popup.agreement }}
        </p>
        <hr />
        <p style="font-size: xx-large; margin-bottom: 0.5em; font-size: larger;"><strong >Rating & Review</strong></p>
        <div class="columns">
          <div class="column is-2">
            <p style="font-size: 60px; font-weight: 800;">{{ avgRating }}</p>
            <p style="font-size: 20px; font-weight: 600; padding-left: 20px;">out of 5</p>
          </div>
          <div
            class="column is-2"
            style="padding-top: 0.5rem; text-align-last: right;"
          >
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <br />
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <br />
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <br />
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star1" class="fa fa-star checked"></span>
            <br />
            <span id="star1" class="fa fa-star checked"></span>
          </div>
          <div class="column">
            <progress
              class="progress is-info"
              value="{{ five }}"
              max="{{ size }}"
            ></progress>
            <progress
              class="progress is-info"
              value="{{ four }}"
              max="{{ size }}"
            ></progress>
            <progress
              class="progress is-info"
              value="{{ three }}"
              max="{{ size }}"
            ></progress>
            <progress
              class="progress is-info"
              value="{{ two }}"
              max="{{ size }}"
            ></progress>
            <progress
              class="progress is-info"
              value="{{ one }}"
              max="{{ size }}"
            ></progress>
          </div>
        </div>
        <hr>
        <br />
        <div *ngFor="let review of reviews">
          <app-review [review]="review"></app-review>
        </div>
      </div>
    </section>
  </div>
</div>
