<section class="box">
  <img
    src="http://www.tobiasbogliolo.com/docs/codepen/assets/img/wave.png?top"
    alt=""
    class="wave"
  />
  <div class="inner">
    <h1>{{carsAvailable.length}}</h1>
    <h1>Current Number of Deals in the System</h1>
  </div>
  <div class="blob">
    <b></b>
    <b></b>
  </div>
  <img
    src="http://www.tobiasbogliolo.com/docs/codepen/assets/img/wave.png"
    alt=""
    class="wave"
  />
</section>
<!-- Google Font -->
<link
  href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
  rel="stylesheet"
/>
