<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Registration Info</h2>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          action="/"
          method="POST"
        >
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group is-flex">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="name"
                  formControlName="name"
                  required
                />
              </div>
            </div>

          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Username"
                  formControlName="username"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <div class="rs-select2">
                  <input
                    class="input--style-2"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    [(ngModel)]="passwording"
                    (input)="onChangePassword()"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="input-group" id="confirmpassword">
            <div class="rs-select2 is-flex">
              <input
                class="input--style-2"
                type="password"
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
                (input)="onChangeConfirm()"
                [ngModelOptions]="{ standalone: true }"
              />
              <i class="fas fa-check" id="valid_confirmEmail"></i>
              <i class="fas fa-times" id="invalid_confirmEmail"></i>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="email"
                  placeholder="example@example.com"
                  formControlName="email"
                  (input)="validateEmail()"
                />
                <i class="fas fa-check" id="valid_email"></i>
                <i class="fas fa-times" id="invalid_email"></i>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group is-flex" id="password">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Phone number"
                  formControlName="phone_num"
                  (input)="validatePhonenum()"
                />
                <i class="fas fa-check" id="valid_phonenum"></i>
                <i class="fas fa-times" id="invalid_phonenum"></i>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Bank Account"
                  formControlName="bank_account"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Bank Account Branch"
                  formControlName="bank_account_branch"
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group is-flex">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Credit card"
                  formControlName="credit_card_number"
                  (input)="validateCreditcard()"
                />
                <i class="fas fa-check" id="valid_credit"></i>
                <i class="fas fa-times" id="invalid_credit"></i>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <input
                  class="input--style-2"
                  type="text"
                  placeholder="Expire date (mm/yy) "
                  formControlName="credit_card_expiry"
                />
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group is-flex">
              <input
                class="input--style-2"
                type="text"
                placeholder="Security number (xxx)"
                formControlName="credit_card_security"
                (input)="validateSecurity()"
              />
              <i class="fas fa-check" id="valid_security"></i>
              <i class="fas fa-times" id="invalid_security"></i>
            </div>
          </div>
          <div class="col-2">
            <div class="input-group">
              <input
                class="input--style-2"
                type="text"
                placeholder="Driving license"
                formControlName="driving_license"
              />
            </div>
          </div>
          <div class="col-2">
            <div class="input-group">
              <input
                class="input--style-2"
                type="text"
                placeholder="Address"
                formControlName="address"
              />
            </div>
          </div>
          <div class="p-t-30 is-flex">
            <button class="btn btn--radius btn--green" type="submit">
              Register
            </button>
            <div id ="invalid_register">
              <i class="fas fa-times" style="display: block; padding-right: 10px;"></i>
              <p style="color: red; font-weight: 600; padding-top: 7px;">Invalid input</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="registerpop">
  <div class="modal-background"></div>
  <div class="modal-card" style="height: 300px;">
    <section class="modal-card-body" style="border-radius: 20px; background-color :hsl(130, 50%, 80%); ">
      <p style="text-align:center;padding: 60px; font-size: xx-large; font-size: xx-large;">Thank you for register</p>
      <button class="button is-rounded" id="buttona" (click)="moveToLogin()">
        Back to sign in
      </button>
    </section>
  </div>
</div>
