<div class="columns">
  <div class="column is-4" id="register-homepage">
    <img src="../../assets/images/register-homepage.jpg" alt="" />
    <span>Register</span>
  </div>
  <div class="column is-8" id="register-form">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First Name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" placeholder="Username" />
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email" />
          </div>
        </div>
        <div class="field">
          <label class="label">Phone number</label>
          <div class="control">
            <input class="input" type="text" placeholder="Phone number" />
          </div>
        </div>
        <div class="field">
          <label class="label">Credit card</label>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Card number" />
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="expire date (mm/yy)"
                />
              </div>
            </div>
            <div class="column">
              <div class="control">
                <input class="input" type="text" placeholder="Security" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Last Name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="passsword" placeholder="Password" />
          </div>
        </div>
        <div class="field">
          <label class="label">Confirm password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder="Confirm password"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Bank account number</label>
          <div class="columns">
            <div class="column">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Bank account number"
                />
              </div>
            </div>
            <div class="column">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Bank account number"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Driving license</label>
          <div class="control">
            <input class="input" type="text" placeholder="Driving license" />
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <textarea class="textarea" placeholder="Address"></textarea>
      </div>
    </div>
    <div id="submit-form" class="has-text-centered">
      <a href=""><button class="button">Sign up</button></a>
      <a href="/"><button class="button">Cancel</button></a>
    </div>
  </div>
</div>
