#register-homepage {
    opacity: 0.6;
    position: relative;
}
#register-form{
    padding: 60px;
}

#submit-form a{
    margin: 25px;

}

button{
    width: 20%
}
#register{
    position: absolute;
    right: 157px;
    top: 141px;
    font-size: 3.0rem;
    font-weight: bold;
    color: black;
}

.field span{
    color: red;
}

#buttona {
    background-color: rgb(21, 65, 82);
    color: white;
    width: 150px;
    margin:auto;
    display:block;
}

#error p {
    text-align: center;
}
.active{
    border-radius: 5px;
    border-style: groove;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(214, 130, 130);
    border:indianred;
    display: flex;
    visibility: visible;
}
.non-active{
    border-radius: 5px;
    border-style: groove;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(214, 130, 130);
    border:indianred;
    display: flex;
    visibility: collapse;
    
}

i {
    right: 10px;
}

span {
    margin-left: auto;
    margin-top: 4px;
    cursor: pointer;
}