<app-navbar></app-navbar>
<app-homepage-car-reservations-popup></app-homepage-car-reservations-popup>
<app-homepage-car-reservations-reserveconfirm-popup></app-homepage-car-reservations-reserveconfirm-popup>
<div class="box">
  <div class="columns">
    <div class="column is-2">
      <figure class="image">
        <img
          src="../../assets/images/car-homepage.jpg"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="column" id="detail">
      <div class="columns">
        <img src="../../assets/images/profile-user.png" id="profile" alt="" />
        <p>Name</p>
      </div>
      <article class="message is-info">
        <div class="message-body">
          <p>Type : {{ carReserve.carType }}</p>
          <p>Model : {{ carReserve.carModel }}</p>
          <p>Location : {{ carReserve.carType }}</p>
          <p>Start Date : {{ carReserve.startDate | slice: 0:10}}</p>
          <p>End Date : {{ carReserve.endDate | slice: 0:10 }}</p>
          <p>Price per day : {{ carReserve.price }}</p>
        </div>
      </article>
    </div>
  </div>
  <form action="" [formGroup]="reserveForm">
    <div class="columns">
      <div class="column">
        <label for="pickup_date">Pickup Date</label>
        <br />
        <input
          class="button"
          type="date"
          id="pickup_date"
          name="pickup_date"
          formControlName="pickupDate"
        />
      </div> 
      <div class="column">
        <label for="return_date">Return Date</label>
        <br />
        <input
          class="button"
          type="date"
          id="return_date"
          name="return_date"
          formControlName="returnDate"
        />
      </div>

      <div class="column">
        <label for="locations">Return Location</label>
        <br />
        <button
          class="input"
          style="width: 150px; height: 42px;"
          (click)="openMap('return')"
        >
          <i class="fas fa-map-marked-alt" style="padding-right: 5px;"></i>
          Open map
        </button>
      </div>
    </div>

    <article class="message is-success">
      <div class="message-header">
        <p>Agreement</p>
      </div>
      <div class="message-body">
        {{ carReserve.agreement }}
      </div>
    </article>
    <label class="checkbox">
      <input type="checkbox" (click)="confirmAgreement()" />
      Confirm
    </label>
  </form>
  <div class="boa">
    <div class="columns">
      <div class="column">
        <div class="column is-3 feebox">
          <p>Rental Fee : {{duration}} Day x {{carReserve.price}} THB</p>
          <hr />
          <p>Total : {{totalPrice}} THB</p>
        </div>
      </div>
      <div class="column">
        <button class="button is-danger" (click)="calculateDuration()">Pay</button>
      </div>
    </div>
    <button class="button is-danger" (click)="genarateAgreement()">
      Create Reservation
    </button>
  </div>
</div>

<div class="modal modal-fx-fadeInScale" id="return">
  <div class="modal-background"></div>
  <div class="modal-content modal-card" style="height: auto; width: 1000px;">
    <header class="modal-card-head">
      <p class="modal-card-title">Choose return Location</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closeform('return')"
      ></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="container">
          <div class="form-group">
            <label>Enter address</label>
            <input
              type="text"
              class="input form-control"
              (keydown.enter)="$event.preventDefault()"
              placeholder="Search Nearest Location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search
              style="margin-bottom: 10px;"
            />
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker
              [latitude]="latitude"
              [longitude]="longitude"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"
            ></agm-marker>
          </agm-map>
          <h5>Address: {{ address }}</h5>
          <div>Latitude: {{ latitude }}</div>
          <div>Longitude: {{ longitude }}</div>
        </div>
        <button
          class="button is-success"
          (click)="addreturnLocation()"
          style="margin-top: 20px;"
        >
          Confirm
        </button>
      </form>
    </section>
  </div>
</div>

